# Project Setup Dependencies
setuptools

# Data Preprocessing Dependencies
opencv-contrib-python

# Other/General Dependencies
pyyaml

# Modeling
--index-url https://download.pytorch.org/whl/cu129
torch
torchvision
